.container {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.form-container {
  width: 30;
  height: 20%;
  border: 1 solid black;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 2px;
  margin-right: 2px;
}
